html{
  box-sizing:border-box;
  font-family: sans-serif;
}

h2,h4,p{
  margin:0;
}
*, *:before, *:after{
  box-sizing:inherit;
}

.header{
  left: 0;
  right: 0;
  margin: 0px;
  background-color: lightblue;
}
.headbar{
  color: white;
  margin: 0px;
  padding:10px;
  margin-left: 0 px;
  line-height: 30px;
  text-align: center;
}
  
  a{
    padding: 0 10px;
    text-decoration: none;
  }
  
a:hover {
    color: #c5cae9;
  }

.projects div{
  border: 2px solid gray;
  border-radius: 5px;
  width: 250px;
  height:300px;
  display:inline-block;
  box-shadow:2px 3px 7px 0px rgba(0,0,0,0.35);
  background-color: #2EBFBD;
  color: white;
  vertical-align:top;
  margin-top: 20px;
}
.projects h4{
  text-align: center;
}

img{
  max-width:100%;
  height:auto;
}

p{
  color: yellow;
  padding: 10px;
}
